@import "tailwindcss";

@layer base {
  body {
    background-color: #FDFBF7;
    color: #354231;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }
  
  button {
    cursor: pointer;
  }
}
